-@users.each do|user|
  
  ="Name："
  =link_to "#{user.first_name} #{user.last_name}", user_path(user)
  %br
  ="E-mailアドレス："
  =user.email
  %br
  ="電話番号："
  =user.telephone
  %br
  =link_to "編集する", edit_user_path(user)
  =link_to "削除する", user_path(user), method: :delete, data: {confirm: "削除しますか？"}
  %hr

=link_to "ユーザー登録", new_user_path
